.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
.git/**
.github/**
node_modules/**/.bin/**
**/*.vsix
**/STRUCTURE.md
**/IMPLEMENTATION_PLAN.md
resources/extension-icon.svg
